<h1>My portfolios!</h1>

<!-- <a href="new">Create a New Portfolio Item</a> -->
<%= link_to "Create a New Portfolio Item!", new_portfolio_path if logged_in?(:site_admin)%>
<%# so basically you write each line of ruby code inside of its own enbedded ruby %>
<%= render partial: 'portfolio_item', collection: @portfolio_items %>
