<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar fixed-top">
  <a href="<%= root_path %>"><h3 class="navbar-brand">Eric Uyemura</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <%= nav_helper("nav-link nav-links", "li") %>
      <li class="login-links"><%= login_helper("nav-link nav-links") %><li>
    </ul>
  </div>
</nav>
