<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">I have found so much enjoyment in doing all of these projects.  Perhaps one of my favorite parts of coding is connecting an api to the frontend of an application.  There's something really satisfying in successfully retrieving information and displaying it in your unique way.</p>
    <p>
      <a href="https://github.com/euyemura" target="_blank" class="btn btn-primary">Check out my GitHub!</a>
      <%= link_to "Contact me!", contact_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>
