<h1>Pages#contact</h1>
<p><%= number_to_phone "5555555555" %></p>
<p><%= number_to_currency "34.23" %></p>
<p><%= number_to_percentage "34.23" %></p>
<p><%= number_with_delimiter "344546475534523523" %></p>
