<div class="inner cover" style="float: left;">
  <h1 class="cover-heading">Get in Touch!</h1>
  <p class="lead"><b>Email: </b><a href="mailto:eauyemura@gmail.com?subject=PortfolioContact" "email me">ea.uyemura@gmail.com</a></p>
  <p class="lead"><b>Located in: </b>San Diego, CA</p>
  <img height="200" src="https://lh5.googleusercontent.com/p/AF1QipNBR7_dZoZMqSgwk_7BZC65EDdf8L7UDnC9Y64P=w449-h240-p-k-no">
</div>
<iframe style="float: right;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53575.52839497105!2d-117.2425250326416!3d32.93858464225764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc07c59ebf8f7b%3A0xe0f0aba7d6b039e4!2sCarmel+Valley%2C+San+Diego%2C+CA!5e0!3m2!1sen!2sus!4v1549346761332" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
