
<div class="inner cover">

  <!-- <div class="star star-1">
</div> -->

<!-- <div class="moon">
</div> -->
    <div class="header-container">
      <h1 class="cover-heading">Welcome to My Portfolio!</h1>
      <p class="lead">Thanks for stopping by! Grab a drink and feel free to check out my projects!</p>
      <p class="lead">
        <%= link_to "My Projects", portfolios_path, class: "btn btn-lg btn-secondary" %>
      </p>
    </div>
</div>
