// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: purple;
}

.bottom {
  margin-top: 10px;
  a {
    border: 1px solid white;
    padding: 5px 5px;
    list-style-type: none;
    text-decoration: none;
    color: white;

    &:hover {
      background-color: lighten(purple, 20%)
    }
  }
  &:link {
    text-decoration: none;
  }

  div {
    display: inline-block
  }

}
