// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: brown;
}

.top {
  a {
    border: 1px solid white;
    padding: 5px 5px;
    list-style-type: none;
    text-decoration: none;
    color: white;

    &:hover {
      background-color: lighten(brown, 20%);
    }
    &:link {
      text-decoration: none;
    }
  }


  div {
    display: inline-block
  }

}
